model: resnet50

framework: pytorch

workflow:
 generate_data: False
 train: True

dataset:
 num_files_train: 1024
 num_samples_per_file: 1
 record_length: 150528
 data_folder: data/resnet50
 format: jpeg

train: 
 computation_time: 0.1
 
reader:
 data_loader: pytorch
 read_threads: 8
 computation_threads: 8
